.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family:'Courier New', Courier, monospace;
    font: size 10px;
    color:red;
    background-color: antiquewhite;
    transition: background-color 0.3s,color 0.3s;
}
.linde{
    color:rgb(239, 22, 203);

}
.krogstad{
    color:rgb(22, 110, 5);
}
.direction:hover {
    background-color: rgb(13, 153, 240);
    color:azure;
}
div.linde:hover{
    color:blue;
    text-shadow: 2px 2px 5px  red;
    
}
div.krogstad:hover{
    color:brown;
    text-shadow: 2px 2px 5px  red;
  
    
}
table{
    width: 50%;
    border-collapse: collapse;
    margin: bottom 10px;
}
table th{
    
    color:black;
    text-align:left;
    padding : 5px;
    border:3px solid #2b2424;
}
table td{
    text-align:left;
    padding:10px;
    border:1px solid #0c0000;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

